<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=98ac069b-8762-4b73-8b8d-a16501076994.sqlserver.sequelizer.com;Database=db98ac069b87624b738b8da16501076994;User ID=lkzcksmjndbedcep;Password=f6maD2btYemBBHFeuVkZsrcxNT2Ud5wmoRwWsEvJxJqvEa36H8Yv2rsV4VtS8pq4;" />
  </connectionStrings>
</configuration>